body.vsc-initialized {
    width: 375px;
    max-width: 500px;
    height: 100%;
    margin: 0;
    background-color:hsl(210, 46%, 95%);
}

.box {
    width: 325px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: 74px;
    background-color: #fff;
    border-radius: 2px;
}

.imgcontainer {
    width: 325px;
    height: 200px ;
    object-fit: cover;
    object-position: center;
}

.textcontainer {
    width: 325px;
    height: 312px;
}

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }



/*The designs were created to the following widths:

- Mobile: 375px
- Desktop: 1440px

## Colors

- Very Dark Grayish Blue: hsl(217, 19%, 35%)
- Desaturated Dark Blue: hsl(214, 17%, 51%)
- Grayish Blue: hsl(212, 23%, 69%)
- Light Grayish Blue: hsl(210, 46%, 95%)

## Typography

### Body Copy

- Font size: 13px

### Headings

- Family: [Manrope](https://fonts.google.com/specimen/Manrope)
- Weights: 500, 700

## Icons

We provide SVGs for the social icons. But please feel free to use a font icon library if you like. Some suggestions can be found below:

- [Font Awesome](https://fontawesome.com)
- [IcoMoon](https://icomoon.io)
- [Ionicons](https://ionicons.com)*/